[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/promtail -config.file {{ promtail_config_dir }}/promtail.yaml

[Install]
WantedBy=multi-user.target